/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: skyblue;
  color: #333;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px #555;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 300px;
  font-size: 1rem;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

span {
  font-size: 1.2rem;
  cursor: pointer;
}

span:hover {
  text-decoration: underline;
}

h3 {
  margin: 20px 0;
  font-size: 1.5rem;
  color: #ffffff;
}
